:root{
  --nav-color: #fff;
  --nav-bg-color: #fbff00;
  --nav-bg-color-hover: #b0b300;
  
}
h1{
    background-color: gray;
}
h2{
    border-bottom: 5 cm;
    border-style: solid;
}
body{
    background-color: white;
}
table{
    border-style: solid;
    border-right: 5 cm;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    background-color: var(--nav-bg-color);
  }
  
  li a {
    display: block;
    color: var(--nav-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: var(--nav-bg-color-hover);
  }
  nav{
    background-color: var(--nav-bg-color);
  }
  p{
    text-align: justify;
  }
  video{
    width: 200px;
    height: 300px;
  }
  .selected{
    background-color: #4a4949;
  }